{% extends 'base.html.twig' %}

{% block title %} Contact {% endblock %}

{% block body %}
<h2>Ajouter un nouveau contact</h2>
<br>
{{ form_start(monFormulaire) }}
    {{ form_row(monFormulaire.nom) }}
    {{ form_row(monFormulaire.prenom) }}
    {{ form_row(monFormulaire.adresse) }}
    {{ form_row(monFormulaire.cp) }}
    {{ form_row(monFormulaire.ville) }}
    {{ form_row(monFormulaire.email) }}
    {{ form_row(monFormulaire.age) }}
    {{ form_row(monFormulaire.Valider, {'label':'valider'}) }}
{{ form_end(monFormulaire) }}
{% endblock %}

